.info {
    background-color: var(--color-light-gray);
    height: min-content;
    margin-bottom: 5px;
    border-top: 2px solid var(--color-medium-gray);
    padding: 3rem 3rem 5rem 3rem;
    font-family: var(--font-main);
    font-size: 1.7rem;

    &::first-letter {
        font-family: var(--font-first-letter);
        font-size: 6rem;
        color: var(--color-red);
        text-shadow: 1px 1px 1px black;
    }
}