:root {
  --font-header-main: "Bitter", serif;
  --font-header-small: "Bitter", serif;
  --font-first-letter: "Italiana", serif;
  --font-main: "Montserrat", sans-serif;
  --font-fancy: "Dancing Script", cursive;
  --color-black: #343434;
  --color-medium-gray: #acacac;
  --color-light-gray: #d1d1d1af;
  --color-white: #f5f5f5af;
  --color-blue: #2D4059;
  --color-yellow: #FDE9C9;
  --color-red: #EA5455;
  --color-light-red: #e68f8f;
}

* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--color-light-gray);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0 auto;
  position: relative;
  font-size: 2rem;
  overflow: hidden;
  max-width: 1300px;
  border-left: 1px solid var(--color-medium-gray);
  border-right: 1px solid var(--color-medium-gray);
}

main {
  margin: 5px;
}

header {
  display: flex;
  align-items: center;
  padding: 3rem;
  height: 40rem;
  margin: 5px;
  border-radius: 8px;
  font-family: var(--font-main);
  font-size: 5rem;
  background-image: url("./assets/body-background.svg");
}
@media screen and (max-width: 530px) {
  header {
    font-size: 3rem;
  }
}
header h6 {
  font-family: var(--font-header-main);
  letter-spacing: 1.8rem;
  font-weight: 100;
}
@media screen and (max-width: 530px) {
  header h6 {
    font-size: 2rem;
  }
}

.info {
  background-color: var(--color-light-gray);
  height: min-content;
  margin-bottom: 5px;
  border-top: 2px solid var(--color-medium-gray);
  padding: 3rem 3rem 5rem 3rem;
  font-family: var(--font-main);
  font-size: 1.7rem;
}
.info::first-letter {
  font-family: var(--font-first-letter);
  font-size: 6rem;
  color: var(--color-red);
  text-shadow: 1px 1px 1px black;
}

.skills {
  background-color: var(--color-light-gray);
  height: min-content;
  margin-bottom: 5px;
  border-top: 2px solid var(--color-medium-gray);
  margin: 0 5px 5px 0;
  padding: 3rem 3rem 5rem 3rem;
  font-family: var(--font-main);
  font-size: 1.7rem;
}
.skills__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.skills__skill {
  width: 150px;
  background-color: var(--color-white);
  padding: 0 2rem;
  margin: 1rem 0 1rem 0;
  border-radius: 8px;
}
.skills__skill p {
  font-family: var(--font-main);
  font-weight: 600;
  text-align: center;
  margin: 1rem 0 1rem 0;
}
.skills__skill-image {
  width: 100%;
}

.projects {
  height: min-content;
  margin: 0 5px 5px 0;
  padding: 3rem;
  font-family: var(--font-main);
  font-size: 1.7rem;
  background-color: var(--color-light-gray);
}
.projects__title {
  margin: 2rem 0 3rem 0;
}
.projects__web-pages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.projects__applications {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.projects__project {
  width: 300px;
  border-top: 3px solid var(--color-red);
  border-bottom: 2px solid var(--color-light-red);
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: var(--color-white);
}
.projects__project p {
  padding: 2rem 0;
}
.projects__project a {
  padding-bottom: 1rem;
  text-decoration: none;
  color: var(--color-blue);
  font-weight: 600;
}
.projects__project a:hover {
  color: var(--color-red);
}
.projects__project-title {
  padding: 1rem 0 1rem 0;
}
.projects__image {
  width: 100%;
}

h3::first-letter {
  font-family: var(--font-fancy);
  font-size: 4rem;
  color: var(--color-red);
  text-shadow: 1px 1px 1px black;
}

.footer {
  grid-column: 1/-1;
  background-image: url("./assets/body-background.svg");
  font-family: var(--font-main);
  display: grid;
  grid-template-rows: repeat(4, 8rem);
  justify-items: center;
  color: var(--color-black);
  padding: 7rem 0 3rem 0;
  text-align: center;
}
@media only screen and (max-width: 1080px) {
  .footer {
    width: 100%;
    margin: 0 0 0 0;
  }
}
@media only screen and (max-width: 600px) {
  .footer {
    margin-top: 1;
  }
}
.footer__header {
  font-size: 4rem;
  font-weight: 100;
  color: var(--color-black);
  align-self: center;
  padding: 2rem 0 5rem 0;
}
.footer__header-pt2 {
  font-family: var(--font-header-main);
  font-weight: 100;
}
@media only screen and (max-width: 600px) {
  .footer__header {
    width: 70%;
    text-align: center;
    padding: 5rem 0 3rem 0;
  }
}
@media only screen and (max-width: 700px) {
  .footer__header {
    font-size: 3rem;
  }
}
.footer__nav__box {
  display: flex;
  width: 60vw;
  justify-content: space-evenly;
  list-style-type: none;
  align-self: center;
}
.footer__link {
  font-size: 1.5rem;
  padding: 1rem;
}
.footer__link:hover {
  transform: rotate(10deg);
  background-color: var(--color-blue);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.602);
}
.footer__link--copy {
  padding-bottom: 1px;
}
.footer__link--copy:hover {
  border-bottom: 2px solid rgb(204, 204, 91);
}
.footer__copyright {
  align-self: center;
  font-size: 1rem;
}
@media only screen and (max-width: 900px) {
  .footer__copyright {
    width: 40%;
    text-align: center;
  }
}
.footer__icons {
  align-self: center;
  font-size: 2rem;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .footer__icons {
    width: 40%;
  }
}

a {
  color: var(--color-black);
  text-decoration: none;
}

.fab,
.far {
  color: var(--color-black);
  font-size: 3rem;
}
.fab:hover,
.far:hover {
  transform: scale(1.1);
}

.contact {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 3rem;
  padding: 7rem 5rem;
  align-self: auto;
  font-family: var(--font-main);
}
.contact__form {
  display: flex;
  margin: 0 auto;
  flex-flow: column;
  width: 50vw;
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .contact__form {
    width: 65vw;
  }
}
@media screen and (max-width: 700px) {
  .contact__form {
    width: 75vw;
  }
}
@media screen and (min-width: 1450px) {
  .contact__form {
    width: 55%;
  }
}

.contact input {
  padding: 0 2rem;
  height: 4rem;
  border-radius: 3px;
  border: 0;
  border-bottom: 3px solid transparent;
  margin: 1rem;
}
.contact input:focus {
  border-bottom: 3px solid rgb(172, 233, 116);
  outline: none;
}

.contact textarea {
  padding: 2rem;
  border-radius: 3px;
  border: 0;
  border-bottom: 3px solid transparent;
  margin: 1rem;
}
.contact textarea:focus {
  border-bottom: 3px solid rgb(172, 233, 116);
  outline: none;
}

#email:focus:invalid {
  border-bottom: 3px solid rgb(255, 125, 125);
}

#name:focus:invalid {
  border-bottom: 3px solid rgb(255, 125, 125);
}

#subject:focus:invalid {
  border-bottom: 3px solid rgb(255, 125, 125);
}

@keyframes labelUp {
  0% {
    transform: translateY(3rem);
  }
  100% {
    transform: translateY(0);
    z-index: 1;
  }
}
.btn-contact {
  justify-self: center;
  align-self: center;
  align-items: center;
  grid-row: 4/5;
  grid-column: 3/-1;
  height: 4rem;
  width: 12rem;
  background-color: rgba(255, 255, 255, 0.24);
  border: 1px solid black;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  transition: all 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .btn-contact {
    margin-top: 3rem;
  }
}
.btn-contact:hover {
  background-color: var(--color-blue);
  outline: none;
}
.btn-contact:focus {
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
